@import "~bootstrap/scss/bootstrap";

a{
    text-decoration: none;
}

.table-container{
  overflow: auto;
  max-height: 503px;
}

.vh-50{
  height: 50vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
